@media only screen and (min-width : 0) {
    .imgProd, .topo {
        display: none;
    }    
    .item {
        flex-direction: column;
    }
}
@media only screen and (min-width : 1000px) {
    .item {
        flex-direction: row;
    }
    .imgProd, .topo {
        display: flex;
    }   
}

.topo {
    justify-content: center;
    gap: 0 6rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.imgProd {
    position: absolute;
    left: 1rem;
    border-radius: 50%;
}

#itens {
    width: 95%; 
}

.item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 1rem 0;
    padding: 3rem 0;
    border: 3px solid var(--c2);
    border-radius: 1rem;
    background-color: white;
    a {
        color: black;
        font-weight: bolder;
        transition: .3s;
    }
    a:hover {
        transform: translateY(-3px);
    }
}

.number {
    color: black;
    padding: .5rem 1rem;
    background-color: var(--c2);
    border-radius: 1rem;
}

.units {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

#total {
    justify-content: end;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    background-color: var(--c4);
    border-radius: 0 0 1rem 1rem;
}

#checkoutpadding {
    font-family: var(--f2);
    padding: 1rem 0 0 0;
}