
:root {
    scroll-padding: 6.5rem;
    --f1: "Courgette", arial;
    --f2: "Plus Jakarta Sans", sans-serif;
    --c1: #b50012cb;
    --c2: #4ab34a;
    --c3: #f0f8ff;
    --c4: #574738;
    --c5: #ffe817;
    --ts: 0 0 3px black, 0 0 3px black;
}

@media only screen and (min-width : 0) {
    .carousel-text {
        font-size: 1rem;
    }
    footer {
        font-size: 1rem;
    }
}
@media only screen and (min-width : 600px) {
    .carousel-text {
        font-size: 1.5rem;
    }
    footer {
        font-size: 1.2rem;
    }
}
@media only screen and (min-width : 768px) {
    .carousel-text {
        font-size: 1.8rem;
    } 
}

body {
    font-family: var(--f1);
    color: var(--c4);
    background-image: url(../imgs/fundoPizza.jpeg);
    background-size: contain;
    background-attachment: fixed;
}
h4 {
    margin: 0;
}

/* BARRA DE NAVEGAÇÃO */
.nav-css {
    position: sticky;
    top: 0;
    background-color: var(--c1);
    backdrop-filter: blur(5px);
    z-index: 2;
} 
#logo {
    position: relative;
    left: 2rem;
    width: 0;
}
#logo-img {
    height: 5em;
    scale: 1.1;
    transition-duration: .3s;
}
#logo-img:hover {
    scale: 1.3;
    rotate: -5deg;
}
.nav-icons {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    transition-duration: .3s;
}
#close-nav {
    scale: 0;
}
.navbar-css {
    column-gap: 5rem;
}
.nav-item-css {
    transition-duration: .3s;
}
.nav-item-css:hover {
    transform: translateY(-3px);
}
.nav-link-css {
    font-size: 1.4rem;
    color: var(--c3);
    font-weight: 600;
}
.nav-link-css:hover, .nav-link-css:focus {
    color: var(--c3);
}
/* CARROSEL */
.carousel-inner-css {
    font-family: var(--f2);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: 2px solid var(--c2);
}
.carousel-control-prev, .carousel-control-next {
    z-index: 0;
}
.carousel-text {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    color: var(--c3);
    text-shadow: var(--ts);
}
#text1 {
    top: 5%;
}
#text2 {
    bottom: 5%;
}
/* CAIXA BASE PARA VÁRIAS SEÇÕES */
.box {
    height: fit-content;
    width: 90vw;
    max-width: 150rem;
    margin: auto;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    background-color: var(--c3);
}
/* CARDÁPIO */
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--c2);
    border-radius: 2rem;
    gap: .5rem;
    padding: 3px;
}
.menu-nav h4 {
    cursor: pointer;
    border-radius: 1.5rem;
    padding: .5rem;
    z-index: 1;
}
#placeholder {
    position: absolute;
    right: 64%;
    width: 35%;
    height: 2.5rem;
    border-radius: 1rem;
    background-color: var(--c2);
    transition-duration: .3s;
}
.menu-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    margin-inline: auto;
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px var(--c4);
    transition-duration: .5s;
    animation: fade .8s;
}
.menu-card h4 {
    margin: auto;
}
.menu-card p {
    transition-duration: inherit;
}
.menu-card img {
    border-radius: inherit;
}
.item-descriptor {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 100%;
    height: 92%;
    border-radius: inherit;
    text-shadow: var(--ts);
    color: var(--c3);
    backdrop-filter: blur(2px);
    opacity: 0;
    transition-duration: .5s;
}
.item-descriptor p {
    width: 70%;
}
/* CONTATO */
.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--f2);
    height: 8rem;
    width: 95%;
    max-width: 25rem;
    margin-inline: auto;
    margin-block: 1rem;
    background-color: var(--c2);
    color: var(--c3);
}
.contact-item h4 {
    margin-inline: 1rem;
    text-align: start;
}
/* SOBRE */
#about {
    padding-inline: 2rem;
    background-image: url(../imgs/img-sobre.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--c3);
    text-shadow: var(--ts);
}
#about p {
    font-family: var(--f2);
    font-size: 1.2rem;
    text-align: justify;
}
/* RODAPÉ */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    margin-top: 3.5rem;
    text-align: center;
    background-color: var(--c4);
    color: var(--c3);
}
/* LINHA DIVISÓRIA */
.div-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.div-line hr {
    opacity: 100%;
    width: 60%;
    margin-inline: 1rem;
    border: 2px solid var(--c5);
    border-radius: 10px;
}
/* BOTÃO VOLTAR PRA CIMA */
#scroll-up-btn {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: var(--c1);
    backdrop-filter: blur(5px);
    transition-duration: .3s;
}
/* ANIMAÇÕES */
@keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 100%;
    }
}