
:root {
    scroll-padding: 6.5rem;
    --f1: "Courgette", arial;
    --f2: "Ubuntu", sans-serif;
    --c1: #b50012cb;
    --c2: #4eca4e;
    --c3: aliceblue;
    --c4: #574738;
    --c5: #ff9600;
}

@media only screen and (min-width : 0) {
    .carousel-text {
        font-size: 1rem;
    }
    footer {
        font-size: 1rem;
    }
}
@media only screen and (min-width : 600px) {
    .carousel-text {
        font-size: 1.5rem;
    }
    footer {
        font-size: 1.2rem;
    }
}
@media only screen and (min-width : 768px) {
    .carousel-text {
        font-size: 2rem;
    } 
}

body {
    font-family: var(--f1);
    background-image: url(../imgs/fundoPizza.jpeg);
    background-size: contain;
    background-attachment: fixed;
}
/* BARRA DE NAVEGAÇÃO */
.nav-css {
    position: sticky;
    top: 0;
    background-color: var(--c1);
    backdrop-filter: blur(5px);
    z-index: 2;
} 
#logo {
    margin-left: 2rem;
    margin-right: -2rem;
}
#logo-img {
    height: 5em;
    scale: 1.1;
    transition-duration: .3s;
}
#logo-img:hover {
    scale: 1.2;
    rotate: -5deg;
}
.nav-icons {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    transition-duration: .3s;
}
#close-nav {
    scale: 0;
}
.navbar-css {
    column-gap: 15rem;
}
.nav-item-css {
    transition-duration: .3s;
}
.nav-item-css:hover {
    transform: translateY(-3px);
}
.nav-link-css {
    font-size: 1.4rem;
    color: var(--c3);
    font-weight: 600;
}
.nav-link-css:hover, .nav-link-css:focus {
    color: var(--c3);
}
/* CARROSEL */
.carousel-inner-css {
    font-family: var(--f2);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: 2px solid var(--c2);
}
.carousel-control-prev, .carousel-control-next {
    z-index: 0;
}
.carousel-text {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    color: var(--c3);
    text-shadow: 0 0 5px black, 0 0 5px black;
}
#text1 {
    top: 10%;
}
#text2 {
    bottom: 10%;
}
/* CAIXA BASE PARA VÁRIAS SEÇÕES */
.box {
    height: fit-content;
    width: 95%;
    max-width: 70rem;
    margin: auto;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
    background-color: var(--c3);
}
/* CARDÁPIO */
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 95%;
}
.menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--c2);
    border-radius: 2rem;
    gap: .5rem;
    padding: 3px;
}
.menu-nav h4 {
    margin: 0;
    cursor: pointer;
    border-radius: 1.5rem;
    padding: .5rem;
    z-index: 1;
}
#placeholder {
    position: relative;
    margin-right: -6.5rem;
    right: 99%;
    width: 6.5rem;
    height: 2.5rem;
    border-radius: 20px;
    background-color: var(--c2);
    transition-duration: .3s;
}
.menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20rem;
    min-width: 17rem;
    height: fit-content;
    width: 22vw;
    margin-inline: auto;
    margin-top: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    animation: pop .3s;
}
.menu-card h4 {
    margin-inline: auto;
    margin-block: 1rem;
}
.menu-card img {
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
/* CONTATO */
.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    max-width: 25rem;
    margin-inline: auto;
    margin-block: 1rem;
    background-color: var(--c2);
}
/* SOBRE */
#about {
    padding-inline: 2rem;
}
#about p {
    font-family: var(--f2);
    text-align: justify;
}
/* RODAPÉ */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    margin-top: 3.5rem;
    text-align: center;
    background-color: var(--c4);
    color: var(--c3);
}
/* LINHA DIVISÓRIA */
.div-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.div-line hr {
    opacity: 100%;
    width: 60%;
    margin-inline: 1rem;
    border: 2px solid var(--c5);
    border-radius: 10px;
}
/* BOTÃO VOLTAR PRA CIMA */
#scroll-up-btn {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: var(--c1);
    backdrop-filter: blur(5px);
    transition-duration: .3s;
}
/* ANIMAÇÕES */
@keyframes pop {
    0% {
        scale: 1;
    }
    50% {
        scale: .5;
    }
    100% {
        scale: 1;
    }
}